<div ng-controller="onlinePanoramasController" class="onlinePanoramas">
    <div style="padding: 10px;">
        <div class="row" styel="word-wrap: break-word;">

            <div class="col-xs-6 col-md-4">
                <a ng-click="onLoadOnlineImageTouched('sfb.jpg')" class="btn btn-warning btn-sm btn-block">
                    <img src="http://pixeldraw.de/pano/sfb_thumb.jpg">
                    <br />
                    <b>{{ "ONLINEPANORAMA.PICTUREONETITLE" | translate }}<br />
                    {{ "ONLINEPANORAMA.PICTUREONESUBTITLE" | translate }}</b>
                </a>
                <br />
            </div>

            <div class="col-xs-6 col-md-4">
                <a ng-click="onLoadOnlineImageTouched('europabruecke.jpg')" class="btn btn-warning btn-sm btn-block">
                    <img src="http://pixeldraw.de/pano/europabruecke_thumb.jpg">
                    <br />
                    <b>{{ "ONLINEPANORAMA.PICTURETWOTITLE" | translate }}<br />
                       {{ "ONLINEPANORAMA.PICTURETWOSUBTITLE" | translate }}</b>
                </a>
                <br />
            </div>

            <div class="col-xs-6 col-md-4">
                <a ng-click="onLoadOnlineImageTouched('ingame.jpg')" class="btn btn-warning btn-sm btn-block">
                    <img src="http://pixeldraw.de/pano/ingame_thumb.jpg">
                    <br />
                    <b>{{ "ONLINEPANORAMA.PICTURETHREETITLE" | translate }}<br />
                    {{ "ONLINEPANORAMA.PICTURETHREESUBTITLE" | translate }}</b>
                </a>
                <br />
            </div>

            <div class="col-xs-6 col-md-4">
                <a ng-click="onLoadOnlineImageTouched('duesseldorf.jpg')" class="btn btn-warning btn-sm btn-block">
                    <img src="http://pixeldraw.de/pano/duesseldorf_thumb.jpg">
                    <br />
                    <b>{{ "ONLINEPANORAMA.PICTUREFOURTITLE" | translate }}<br />
                    {{ "ONLINEPANORAMA.PICTUREFOURSUBTITLE" | translate }}</b>
                </a>
                <br />
            </div>

            <div class="col-xs-6 col-md-4">
                <a ng-click="onLoadOnlineImageTouched('wildkogel.jpg')" class="btn btn-warning btn-sm btn-block">
                    <img src="http://pixeldraw.de/pano/wildkogel_thumb.jpg">
                    <br />
                    <b>{{ "ONLINEPANORAMA.PICTUREFIVETITLE" | translate }}<br />
                    {{ "ONLINEPANORAMA.PICTUREFIVESUBTITLE" | translate }}</b>
                </a>
                <br />
            </div>

            <div class="col-xs-6 col-md-4">
                <a ng-click="onLoadOnlineImageTouched('skylinemun.jpg')" class="btn btn-warning btn-sm btn-block">
                    <img src="http://pixeldraw.de/pano/skylinemun_thumb.jpg">
                    <br />
                    <b>{{ "ONLINEPANORAMA.PICTURESIXTITLE" | translate }}<br />
                    {{ "ONLINEPANORAMA.PICTURESIXSUBTITLE" | translate }}</b>
                </a>
                <br />
            </div>
        </div>
        <br />
        <a href="#/panoramaScreen" class="btn btn-primary btn-block btn-lg">{{ "ONLINEPANORAMA.BACKBUTTON" | translate }}  <span class="glyphicon glyphicon-chevron-right "></span></a>
        <br />
        <br />
    </div>
</div>
