/* disable the web bounce effect on Windows Phone */

.panoramaScreen {
    -ms-touch-action: none;
}
.panoramaScreen img {
    width: 100%;
}
@media screen and (min-device-height: 850px) and (orientation: landscape) {
    .panoramaScreen {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.panoramaScreenLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 54px;
    margin-top: -27px;
    margin-left: -75px;
    z-index: 999999;
}
.hiddenLoadEventImage {
    display: none;
}
