.settingsButton {
    z-index: 900;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 10px;
}
.settingsPanel {
    overflow: scroll;
    z-index: 9000;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transform: translate3d(0, 0, 0);
}
input:required:invalid,
input:focus:invalid {
    -moz-box-shadow: none;
    border: 1px solid red;
}
.settingsPanel img {
    width: 150px;
}
.slide-animation.ng-hide-add,
.slide-animation.ng-hide-remove {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: .25s;
    opacity: 1;
}
.slide-animation.ng-hide {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    transition-duration: .25s;
    opacity: 0;
}
